<div class="hero" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)),url('assets/images/groupe-cinq-etudiants-africains-passant-du-temps-ensemble-campus-cour-universite-amis-afro-noirs-etudiant-theme-education.jpg') ; color:white;">

   <div class="slogan-section">
        <h1>
            Ta Nouvelle aventure en un click
        </h1>
        <span>Trouve l'établissement de tes rêves</span>
        <div class="input-group">
            <input type="text" placeholder="Rechercher" class="search-input">
            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                <g>
                    <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                </g>
            </svg>
        </div>
   </div>

   <div class="box-section">
        <div class="box orange">
            <i class="ph ph-student"></i>
            <div class="box-text">
                <h4>Nouveau Diplôme</h4>
                <p>
                    Décrochez des diplômes, des
                    certifications reconnues qui vous
                    qualifies pour le métier de vos 
                    rêves
                </p>
            </div>
        </div>

        <div class="box purple">
            <i class="ph ph-trophy"></i>
            <div class="box-text">
                <h4>Best of the best</h4>
                <p>
                    Faites facilement votre choix
                    parmi les meilleurs. Nous vous 
                    proposons les meilleur et les plus
                    réputés à travers le monde 
                </p>
            </div>
        </div>

        <div class="box blue">
            <i class="ph ph-desktop"></i>
            <div class="box-text">
                <h4>En ligne</h4>
                <p>
                    Poursuivez vos études partout où
                    vous êtes, avec des universités qui 
                    vous proposent des cursus en 
                    ligne
                </p>
            </div>
        </div>
   </div>    
</div>

<div class="about-section">
    <div class="category-section">
        <div class="column">
            <div class="column box-category">
                <i class="ph ph-scales"></i>
                <h5>Droit</h5>
            </div>
            <div class="column box-category">
                <i class="ph ph-desktop"></i>
                <h5>Programmation</h5>
            </div>
        </div>
        <div class="column">
            <div class="column box-category">
                <i class="ph ph-stethoscope"></i>
                <h5>Médécine</h5>
            </div>
            <div class="column box-category">
                <i class="ph ph-airplane-tilt"></i>
                <h5>Aviation</h5>
            </div>
            <div class="column box-category">
                <i class="ph ph-users-three"></i>
                <h5>Resource <br> humaine</h5>
            </div>
        </div>
        <div class="column">
            <div class="column box-category">
                <i class="ph ph-broadcast"></i>
                <h5>Communication</h5>
            </div>
            <div class="column box-category">
                <i class="ph ph-cooking-pot"></i>
                <h5>Hotêllerie</h5>
            </div>
        </div>
    </div>

    <div class="description-category">
        <h2>Plus de 100 Universités et 
            centre de formation au sein 
            du Sénégal
        </h2>
        <p>Faire le choix de son université ou du lieu où l’on souhaite être former est un choix capital. Ce choix définit  accomplir plus tard.
        </p>

        <p>C’est pour cela que nous somme là. Nous vous offrons une grande marge de choix. Nous simplifions votre prise de décision. Votre avenir est nous concerne
        </p>

        <input type="submit" value="DECOUVRIR">
    </div>
</div>

<div class="highlight-section">   
    <div class="highlight-content">
        <h2>Les incontournables</h2>
        <p>Parmis les nombreuses Universités et centres de formations 
            dont dispose le Sénégal, il y en a qui sortent du lots
        </p>
        <div class="card-section">
            <div class="card">
                <img src="https://klinfos.com/wp-content/uploads/2018/09/ISM-DAKAR.jpg" alt="">
                <div class="row label"><span>info</span> <span>Compta</span> <span>Droit</span></div>
                <h5>Institut Supérieur de Management</h5>
                <div class="row description">
                    📍Dakar, 
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                </div>
            </div>

            <div class="card">
                <img src="https://foad.esmt.sn/pluginfile.php/161/coursecat/description/JKT.png" alt="">
                <div class="row label"><span>info</span> <span>Compta</span> <span>Droit</span></div>
                <h5>Institut Supérieur de Management</h5>
                <div class="row description">
                    📍Dakar, 
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                </div>
            </div>

            <div class="card">
                <img src="https://www.senenews.com/wp-content/uploads/2022/08/iam.jpg" alt="">
                <div class="row label"><span>info</span> <span>Compta</span> <span>Droit</span></div>
                <h5>Institut Supérieur de Management</h5>
                <div class="row description">
                    📍Dakar, 
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                </div>
            </div>

            <div class="card">
                <img src="https://www.groupeisi.com/wp-content/uploads/2021/08/inauguration-du-laboratoire-huawei.png" alt="">
                <div class="row label"><span>info</span> <span>Compta</span> <span>Droit</span></div>
                <h5>Institut Supérieur de Management</h5>
                <div class="row description">
                    📍Dakar, 
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                </div>
            </div>
        </div>

        <div class="card-section">
            <div class="card">
                <img src="https://klinfos.com/wp-content/uploads/2018/09/ISM-DAKAR.jpg" alt="">
                <div class="row label"><span>info</span> <span>Compta</span> <span>Droit</span></div>
                <h5>Institut Supérieur de Management</h5>
                <div class="row description">
                    📍Dakar, 
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                </div>
            </div>

            <div class="card">
                <img src="https://foad.esmt.sn/pluginfile.php/161/coursecat/description/JKT.png" alt="">
                <div class="row label"><span>info</span> <span>Compta</span> <span>Droit</span></div>
                <h5>Institut Supérieur de Management</h5>
                <div class="row description">
                    📍Dakar, 
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                </div>
            </div>

            <div class="card">
                <img src="https://www.senenews.com/wp-content/uploads/2022/08/iam.jpg" alt="">
                <div class="row label"><span>info</span> <span>Compta</span> <span>Droit</span></div>
                <h5>Institut Supérieur de Management</h5>
                <div class="row description">
                    📍Dakar, 
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                </div>
            </div>

            <div class="card">
                <img src="https://klinfos.com/wp-content/uploads/2018/09/ISM-DAKAR.jpg" alt="">
                <div class="row label"><span>info</span> <span>Compta</span> <span>Droit</span></div>
                <h5>Institut Supérieur de Management</h5>
                <div class="row description">
                    📍Dakar, 
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-us" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url('assets/images/jeunes.jpg');">
    <h2>Faits intéressant sur nous</h2>
    <p class="about-description">vitae risus diam risus Sed viverra nisl. adipiscing Donec hendrerit nulla, nec diam sit faucibus tincidunt vitae Cras sollicitudin. Nam non varius Nunc ex. Ut 
    </p>
    <div class="about-content">
        <div class="column left">
            <div class="cube">
                <i class="ph ph-crown" style="color: rgb(255, 162, 0);"></i>
                <h5>Trouvez un guide</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quos voluptatum dolore harum mollitia quisquam, vero pariatur provident quidem repellat consequatur, asperiores consectetur voluptates maiores perferendis facere, quam debitis eius.</p>
            </div>
            <div class="cube">
                <i class="ph ph-backpack" style="color: rgba(65, 113, 195, 0.865);"></i>
                <h5>400+ Écoles</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quos voluptatum dolore harum mollitia quisquam, vero pariatur provident quidem repellat consequatur, asperiores consectetur voluptates maiores perferendis facere, quam debitis eius.</p>
            </div>
        </div>
        <div class="column center">
            <div class="box1">
                <i class="ph ph-headset" style="color: rgba(156, 65, 195, 0.865);"></i>
                <h5>Support 24/7</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quos voluptatum dolore harum </p>
            </div>
            <div class="box2">

            </div>
        </div>
        <div class="column right">
            <div class="cube">
                <i class="ph ph-medal" style="color: rgba(65, 113, 195, 0.865);"></i>
                <h5>Des établissement accrédités</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quos voluptatum dolore harum mollitia quisquam, vero pariatur provident quidem repellat consequatur, asperiores consectetur voluptates maiores perferendis facere, quam debitis eius.</p>
            </div>
            <div class="cube">
                <i class="ph ph-laptop"></i>
                <h5>Formation en ligne</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum dolor quae exercitationem necessitatibus. Repellat eum possimus fugiat, excepturi ad, eius, dolore veritatis delectus totam incidunt similique optio voluptatibus aut!</p>
            </div>
        </div>
    </div>
</div>

<div class="comment-section ">
    <!-- Carousel wrapper -->
<div id="carouselExampleControls" class="carousel slide text-center carousel-dark" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="rounded-circle shadow-1-strong mb-4"
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
          style="width: 150px;" />
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h5 class="mb-3">Maria Kate</h5>
            <p>Photographer</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
              nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
              fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
              doloremque.
            </p>
          </div>
        </div>
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="far fa-star fa-sm"></i></li>
        </ul>
      </div>
      <div class="carousel-item">
        <img class="rounded-circle shadow-1-strong mb-4"
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
          style="width: 150px;" />
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h5 class="mb-3">John Doe</h5>
            <p>Web Developer</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
              nesciunt sint eligendi reprehenderit reiciendis.
            </p>
          </div>
        </div>
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="far fa-star fa-sm"></i></li>
        </ul>
      </div>
      <div class="carousel-item">
        <img class="rounded-circle shadow-1-strong mb-4"
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar" style="width: 150px;" />
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h5 class="mb-3">Anna Deynah</h5>
            <p>UX Designer</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
              nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
              fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
              doloremque.
            </p>
          </div>
        </div>
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="far fa-star fa-sm"></i></li>
        </ul>
      </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
      data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
      data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>
  <!-- Carousel wrapper -->
</div>

<section class="suscribe bg-dark text-center p-5 mt-4">
    <div class="container p-3">
        <h3 class="text-white">S'ENRIGISTRER</h3>
        <form action="#" method="Post">
            <input type="text" name="text" placeholder="Entrer votre Email">
            <button type="button" class="btn btn-default">S'enrégistrer<i class="fa fa-envelope"></i></button>
        </form>
    </div>
</section>

<div class="events">
    <div class="event-content">
        
            <div class="event ">
                <img src="https://www.groupeism.sn/sites/default/files/image/inline/block/image/photo_graduation_compressed_1.jpg" alt="">
                <div class="text-section">
                    <span class="">23 Novembre 2023</span>
                    <h5 class="event-title">Graduation</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi nesciunt, in corrupti aspernatur magnam provident quas architecto harum neque! Odit voluptatibus, consequatur nisi unde ut repudiandae nulla quia culpa repellendus.</p>
                </div>
            </div>
            <div class="event">
                <img src="https://afi-ue.sn/wp-content/uploads/2021/08/IMG_1833-scaled.jpg" alt="">
                <div class="text-section">
                    <span class="">15 Juillet 2023</span>
                    <h5 class="event-title">Graduation</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi nesciunt, in corrupti aspernatur magnam provident quas architecto harum neque! Odit voluptatibus, consequatur nisi unde ut repudiandae nulla quia culpa repellendus.</p>
                </div>
            </div>
        
    </div>
</div>