.hero{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;

    .hero-description{
        width: 50%;
        text-align: center;
    }

    .link{
        margin-top: 20px;
        color: rgb(87, 132, 172);
    }
}

.school-container{
    // height: 100vh;
    height: auto;
    
    .school-content{
        width: 100%;
        margin-top: 60px;
        .title{
            margin-left: 70px;
            h2{
                font-size: 35px;
                font-weight: 700;
                font-family: 'Times New Roman', Times, serif;
            }
        }
        span{
            margin-left: 70px;
            font-size: 25px;
            font-weight: 500;
        }
        .suggestion{
            width: 90%;
            height: 320px;
            margin: 20px auto;
            border: 0.5px solid rgb(153, 153, 153);
            display: flex;
            align-items: center;
            background: rgba(205, 202, 202, 0.154);

            .suggestion-content{
                display: flex;
                align-items: center;
                margin-left: 10px;
                column-gap: 20px;

                img{
                    width: 450px;
                    height: 300px;
                    background-size: cover;
                }

                .suggestion-description{
                    .title2{
                        font-weight: 700;
                        font-size: 30px;
                    }
                    p{
                        width: 70%;
                        color: black;
                    }
                    i{
                        color: rgb(198, 198, 78);
                    }
                    i:last-child{
                        color: grey;
                    }
                }
            }
        }
    }

        
}

.category-container{
    width: 90%;
    margin: 20px auto;
    padding-top: 30px;
    h2{
        font-weight: 700;
        font-size: 25px;
    }
    .category-content{
        width: 100%;
        height: 300px;
        column-count: 5;
        
        .category{
            width: 252px;
            height: 75px;
            border: 1px solid black;
            display: inline-block;
            text-align: center;
            justify-content: center;
            margin-top: 10px;
            :hover{
                cursor: pointer;
            }

            .titre{
                
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
            }
        }
    }
}

.search-section{
    width: 100%;
    height: 15vh;
    margin-top: -90px;
    
    .search-content{
        width: 90%;
        height: 100px;
        margin: 20px auto;
        background: rgb(40,129,180);
    background: linear-gradient(90deg, rgba(40,129,180,1) 0%, rgba(109,207,214,1) 47%);
        
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            color: white;
            font-size: 15px;
            letter-spacing: 2px;
        }
        input{
            background: none;
            border: none;
            border-bottom: 2px solid white;
            margin-left: 20px;
            width: 300px;
            color: white;
            margin-top: -10px;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: rgb(221, 220, 220);
                opacity: 0.8;
            }  
        }
    }
}

.list-container{
    width: 90%;
    margin: 20px auto;
    // height: 120vh;
    height: auto;
    .list-content{
       width: 100%;
        height: 100%;
        margin: 20px auto;
       column-count: 5;
    //    row-gap: 10px;
        .card{
            width: 250px;
            height: 300px;
            // background-color: red;
            display: inline-block;
            border: none;
            padding-top: 40px;
            &:hover{
                cursor: pointer;
            }
            img{
                width: 100%;
                height: 170px;
                background-size: cover;
                border: none;
            }
            .row.label span{
                font-size: 10px;
                margin: 5px 0 5px 25px;
                background-color: #588FE1;
                padding: 3px 10px;
                border-radius: 10px;
                color: white;
            }
            .row.description{
                margin: 5px 0 5px 0px;
                i{
                    padding-top: 5px;
                }
            }
            .name{
                font-size: 16px;
            }
        }
    }
}