<div class="hero" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)),url('assets/images/groupe-cinq-etudiants-africains-passant-du-temps-ensemble-campus-cour-universite-amis-afro-noirs-etudiant-theme-education.jpg') ; color:white;">
    
    <div class="hero-title"><h1>Universités</h1></div>
    <div class="hero-description">Retrouvez toutes les meilleure universités et centre de formation du Sénégal. Et débutez une aventure </div>

    <div class="link">
        Accueil / Universités
    </div> 
</div>

<div class="school-container">
    <div class="school-content">
        <div class="title">Quel sera votre prochaine école ?</div>
        
    </div>
</div>